BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 150
SortIncludes: Never
SortUsingDeclarations: Never
PointerAlignment: Left
ReflowComments: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
BinPackParameters: AlwaysOnePerLine
BreakFunctionDefinitionParameters: true
BreakFunctionDeclarationParameters: true
BreakBeforeCloseBracketFunction: true
BreakStringLiterals: false
FixNamespaceComments: false
AlignEscapedNewlines: DontAlign
